* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cccccc;
  text-align: center;
}

.subtitle {
  margin: 32px 0;
  color: #1b4314;
  font-weight: bold;
  border: 2px dashed #5a9a4f;
}

.row {
  background-color: rgb(192, 194, 194);
}